.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
    background-color: rgb(151, 206, 89);
    border: none;
    border-radius: 4px;
}

h3 {
    text-align: center;
}

/* I did this the other way around and styled the button to have a background color already, and this changes it when it's disabled) */
button:disabled, button[disabled] {
    background-color: rgb(209, 209, 209);
}

.nearMaxMass {
    font-weight: bold;
    color: rgb(194, 56, 32)
}