.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
    background-color: rgb(151, 206, 89);
    border: none;
    border-radius: 4px;
}

h3 {
    text-align: center;
}

/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */
button:disabled, button[disabled] {
    background-color: rgb(209, 209, 209);
}


/* Add the 'nearMaxMass' class style here: */
.nearMaxMass {
    font-weight: bold;
    color: rgb(194, 56, 32)
}